body {
  background-color: #D8ECFF;
}

.App {
  text-align: center;
}

.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  min-height: 70vh;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  
}
.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 10px;
  font-size: 30px;

}

img {
  max-height: 20vh;
}